<carousel class="text-center">
  <slide *ngFor="let image of images">
    <img class="img-responsive image" [src]="image.src">
    <div class="carousel-caption">
      <h3>{{ image.title }}</h3>
      <p>{{ image.desc }}</p>
    </div>
  </slide>
</carousel>

<div class="container latest-wrapper">
  <div class="row">
    <div class="col-md-12">
      <h2>Latest Videos</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive latest" src="assets/images/1.jpg" alt="">
    </div>

    <div class="col-md-4">
      <img class="img-responsive latest" src="assets/images/2.jpg" alt="">
    </div>

    <div class="col-md-4">
      <img class="img-responsive latest" src="assets/images/4.jpg" alt="">
    </div>
  </div>
</div>
